#header{
  position: relative;
  height: 150px;
}
#boxmenu {
  width: 99.5%;
  margin: 5px auto 0px auto;
  text-align: center;
  padding: 7px 0 8px 0;
  border-bottom: 2px solid #003300;
  border-top: 2px solid #003300;
  border-left: 2px solid #003300;
  border-right: 2px solid #003300;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: serif;
  text-decoration: none;
  word-spacing: 50px;
}
#boxmenu ul {
  list-style: none;
}
#boxmenu li {
  display: inline-block;
  padding: 0 1.8%;
}
#boxmenu a {
  font-size: 1.2em;
  color: #006600;
  text-decoration: none;
}
#boxmenu a:hover{
  color: #FF7519;
}
footer {
  margin-left: 1px;
  width: 99.1%;
  background-color:#003300;
  color:white;
  clear:both;
  text-align:center;
  padding:5px;      
}

.clear{
  clear: both;
}

#header{
  overflow: hidden;
}

#header .left, #header .right{
  width: 30%;
  float: left;
  color: #003300;
}

#header .center{
  width: 40%;
  float: left;
}

#header img{
  width: 100%;
  max-width: 180px;
}

#header .center img{
  max-width: none;
}

.container .left{
  width: 300px;
  float: left;
  margin-left: 300px;
  margin-top: 75px;
  color: #003300;
}

.container .right{
  float: right;
  width: 300px;
  margin-right: 300px;
  margin-top: 75px;
}

.container{
  overflow:hidden;
  border-left: 10px solid #003300;
  border-right: 10px solid #003300;
  margin:0 1px;
  padding: 40px 0 ;
}
